
<h1> <small>Title: {{title}}</small></h1></a>
<h4>Author: {{author}}</h4>
<div><br>
  {{#if desc}}
    {{desc}}
  {{else}}
    No description.
  {{/if}}
  <br><br>
  {{#if user}}
    <b>{{first}}
    {{last}}:</b>
    {{user.note}}
  {{else}}
    No reviews.
  {{/if}}
  <button class="delete-button" data-id="{{id}}">delete</button>
  <button class="like-button" data-id="{{id}}">like</button>
</div>
